NEXT_PUBLIC_SUPABASE_URL= https://ujrjnjryhetnprkyffpt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_4OAXXvMZQWnHILTPs_y0XQ_HcMj2mQM
SUPABASE_SERVICE_ROLE_KEY= sb_secret_k-uY-iVlXQM0B1ShSN_YYw_DCTfBEjf
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
ADMIN_EMAIL_LIST=admin@kurumkurum.com
NEXT_PUBLIC_SITE_URL=https://kurumkurum.com
