@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F4EB;
  --foreground: #2B2D2F;
}

body {
  background: #F7F4EB;
  color: #2B2D2F;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
